.custom_style1 {
    font-family: "Serif", sans-serif; /* w3-serif */
    font-size: 1.2em; /* w3-large */
}

.background {
    color: white;
}

.custom_style2 {
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(40) 1s 1 normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}