{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Comprehensive Mini Project</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Global CSS files -->
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  
  <style>
    body {
        background-color: #555; /* Light grey background */
    }


  </style>
</head>




<body>
  {% include 'sidebar.html' %}
  {% include 'smallscreen.html' %}

   
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:340px;margin-right:40px">
    {% block content %}

    

    {% endblock %}
  </div>
  <script src="{% static 'js/sidebarcontroller.js' %}"></script>

</body>
</html>
