{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>ChandraMohan Sah</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <!-- Global CSS files -->
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  
  <style>
    body {
        background-color: #555; /* Light grey background */
    }

  </style>
</head>




<body>
  {% include 'sidebar.html' %}
  {% include 'smallscreen.html' %}

   
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:340px;margin-right:40px">


  </div>

  <script src="{% static 'js/sidebarcontroller.js' %}"></script>

</body>
</html>
