{% extends 'base2.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'app1_static_nav/css/app1.css' %}">

{% block content %}
<link rel="stylesheet" href="{% static 'app6_pfso/css/pfso.css' %}">



<body>
        <div class="w3-content w3-text-white w3-large" style="margin-top:60px"><br>

            <!-- Left Half with Submitted Data -->
            <div class="w3-col l6 w3-padding w3-round-large w3-panel w3-grey">


                <!-- Filtering Section : It is get Request Not POST Request-->
                <h3 class="w3-text-white w3-monospace">Filtering</h3>
                <form method="GET" action="{% url 'fso-filter-app6' %}">
                    <input type="number" name="zoomId" placeholder="Enter Zoom ID" />
                    <button type="submit" class="w3-serif">Apply Filter</button>
                </form>


                <!-- Search Form --><br>
                <h3 class="w3-text-white w3-monospace">Searching</h3>
                <form method="GET" action="{% url 'search-app6' %}">
                    <input type="text" name="search" placeholder="Search by animal name" value="{{ search_query }}">
                    <button type="submit" class="w3-serif">Search</button>
                </form>

                <!-- Sorting Controls --><br>
                <div>
                    <h3 class="w3-text-white w3-monospace">Ordering</h3>
                    <ul>
                        <li><a href="{% url 'ordering-app6' %}?order_direction=asc" class="w3-serif">Sort by Zoom ID [Low to High]</a></li>
                        <li><a href="{% url 'ordering-app6' %}?order_direction=desc" class="w3-serif">Sort by Zoom ID [High to Low]</a></li>
                    </ul>
                </div>

            </div>


            <!-- Right Half with Contact Form -->
            <div class="w3-col l6 w3-padding ">
                <br>
                    
                    {% if zoom_id %}
                        {% if reached_max_value %}
                            <p style="margin-left:12px;">No data available above {{zoom_id}}</p>
                        {% else %}
                            <p style="margin-left:12px;">Zoom ID greater than [{{ zoom_id }}]</p>
                        {% endif %}
                    {% endif %}

                    {% if search_query %}
                        <p style="margin-left:12px;">Searching for: {{ search_query }}</p>
                    {% endif %}


                    <table class="w3-table ">
                        <tr>
                          <th>Animal Name</th>
                          <th>Zoo ID</th>
                        </tr>
                        
                        {% for data in tableDatas %}
                        <tr>
                          <td>{{data.animal}}</td>
                          <td>{{data.zoom_id}}</td>
                        </tr>
                        {% endfor %}

                    </table>
            </div>

        </div>

        
</body>




<script>
    function toggleAccordion(element) {
        const content = element.nextElementSibling;
        const icon = element.querySelector('i');
        if (content.style.display === "block") {
            content.style.display = "none";
            icon.classList.remove("fa-chevron-up");
            icon.classList.add("fa-chevron-down");
        } else {
            content.style.display = "block";
            icon.classList.remove("fa-chevron-down");
            icon.classList.add("fa-chevron-up");
        }
    }
</script>


{% endblock %}
