 <!-- Ordering Section -->
 <h3 class="w3-text-white w3-monospace">Ordering</h3>
 <div class="w3-margin-bottom">
     <label>
         <input type="radio" name="order" value="lexicographical" class="w3-radio">
         Lexicographically
     </label><br>
     <label>
         <input type="radio" name="order" value="zoom-id" class="w3-radio">
         By Zoom ID
     </label>
 </div>

 <h3 class="w3-text-white w3-monospace">Search</h3>
 <div class="w3-padding w3-padding-16">
     <div class="w3-display-container">
         <input class="w3-input w3-border w3-large" 
                type="text" 
                placeholder="Search by animal name ..." 
                style="padding-left: 20px; border-radius: 8px; font-size: 16px;" 
                onkeyup="filterSearch(this)">
     </div>
 </div>
</div>
