{% extends 'base2.html' %}
{% load static %}
{% block content %}

<!-- W3.CSS CDN -->
<link rel="stylesheet" href="{% static 'app9_ml_integration/css/iframe.css' %}">

<div class="w3-container w3-center responsive-text w3-padding-32  w3-margin-top w3-margin-bottom">

  <div class="w3-padding w3-light-grey w3-round-large w3-margin-bottom" style="max-width: 90%; margin: auto;">
    <h2 class="w3-text-black w3-serif">
      <a href="https://github.com/Guche02/VQA-Voyager" target="_blank" style="margin-left: 10px;">
        Quick Lookup - Read Below : Code 
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" 
             alt="GitHub" 
             width="24" 
             height="24" 
             style="vertical-align: middle;">
      </a>
    </h2>
    <p class="w3-large w3-serif" style="text-align: justify;">
      This video showcases my Machine Learning model integration capability, where I integrated multiple deep learning models to serve a unified purpose. 
      <strong>YOLOv9</strong> was implemented to detect and recognize cultural heritages of the Kathmandu Valley. For natural language understanding, 
      I integrated the <strong>BART</strong> model to answer questions based on the identified sites. Additionally, the <strong>Whisper</strong> model 
      was incorporated to support voice-to-text interactions, making the system more intuitive and accessible.
    </p>
  </div>

  <div class="w3-margin-top video-container">
    <iframe src="https://www.youtube.com/embed/EHmYbSsSEJg" 
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
  </div>
</div>

{% endblock %}
