{% extends 'base2.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'app1_static_nav/css/app1.css' %}">

{% block content %}
<link rel="stylesheet" href="{% static 'app3_contact_form/css/app3.css' %}">

<div class="w3-content  w3-round w3-padding-large background w3-border w3-text-white" style="max-width: 1000px;margin-top:80px">
    <div class="w3-row">

        <!-- Left Half with Image -->
        <div class="w3-col l6 w3-padding" style>
            <img src="{% static 'app8_authentication/images/recovery.png' %}" alt="Static Image" style="max-width: 100%; height: auto; display: block; margin: auto;">
        </div>
        

        <!-- Right Half with Contact Form -->
        <div class="w3-col l6 w3-padding">
            
            <p class="w3-monospace">Password Recovery Ongoing🐒</p>
            <hr>
            <p class="w3-container w3-card-4 w3-light-grey w3-padding-16 w3-round">Your password has been reset successfully. You can now 
                <a href="{% url 'login-app8' %}">
                    <button class="w3-green w3-round ">Login</button>
                </a>
            </p>

            
        </div>

    </div>
</div>


{% endblock %}