{% load static %}
<link rel="stylesheet" href="{% static 'app9_async/css/messanger.css' %}">

<div class="w3-container w3-round w3-padding-8" style="margin-top:25px;padding-right:10px">
    <div class="w3-container" style="margin-top:80px" id="contact">
        <h1 class="w3-xxxlarge w3-text-white w3-left-align"><b>Contact Me</b></h1>
        <div class="text-right">
            <hr style="width:50px;border:5px solid white;" class="w3-round">
        </div>
    </div>


    <!-- Main Contact Section -->
    <div class="w3-panel w3-border w3-round-large w3-center w3-padding-32 w3-text-white">
        <p>
            <a href="https://github.com/ChandraMohan-Sah" target="_blank"><i class="fab fa-github fa-2x mr-2"></i>GitHub</a> &nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/chandramohan-sah-0918b5212/" target="_blank"><i class="fab fa-linkedin fa-2x mr-2"></i>LinkedIn</a> &nbsp;&nbsp;&nbsp;
            <a href="https://www.instagram.com/csah9628/" target="_blank"><i class="fab fa-instagram fa-2x mr-2"></i>Instagram</a>
        </p>
        <p style="font-size: 1.5em; padding-top: 20px;" class="w3-hide-small">
            <a href="mailto:chandramohansah1529@gmail.com"><i class="fas fa-envelope fa-2x mr-2"></i>chandramohansah1529@gmail.com</a>
        </p>

        <!-- Messenger Icon -->
        <div class="messenger-icon" onclick="toggleChatBox()">
            <i class="fab fa-facebook-messenger fa-2x"></i> <!-- Messenger icon -->
        </div>
    </div>

    <!-- Chat Box -->
    <div id="chatBox" class="chat-box">
        <div class="chat-header">
            <span>Chat with Me</span>
            <i class="fas fa-times close-btn" onclick="toggleChatBox()"></i> <!-- Close button as an icon -->
        </div>

        <div class="chat-content">
            <p style="color: #333;">Hi! How can I help you?</p>
        </div>
        
        <div class="chat-input">
            <input type="text" placeholder="Type your message..." />
            <button>Send</button>
        </div>
        
    </div>
    


    <footer class="w3-container w3-center w3-padding-16">
        <p>Copyright © 2024 Chandra Mohan Sah. All Rights Reserved.</p>
    </footer>
</div>

<script>
    function toggleChatBox() {
        const chatBox = document.getElementById('chatBox');
        if (chatBox.style.display === 'none' || chatBox.style.display === '') {
            chatBox.style.display = 'block';
        } else {
            chatBox.style.display = 'none';
        }
    }
</script>
