{% extends 'base2.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'app1_static_nav/css/app1.css' %}">

{% block content %}
<body>
  <div class="w3-content w3-text-white w3-large" style="margin-top:60px;">
    <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        text-align: center;
        font-size: 2rem;
        color: #9E9E9E;
      ">
      <p class="w3-serif" >Could not test till now due to lack of merchant account ...</p>
    </div>
  </div>
</body>
{% endblock %}
